<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Instagram clone</title>

    <link rel="shortcut icon" href="/static/icons/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="nav">
            <img class="big-icon" src="/static/icons/title.png" />
            <input class="search-box" placeholder="검색">
            <img class="icon" src="/static/icons/home.png" />
            <img class="icon" src="/static/icons/plane.png" />
            <img class="icon" src="/static/icons/plus.png" />
            <img class="icon" src="/static/icons/compass.png" />
            <img class="icon" src="/static/icons/heart.png" />
            <img class="icon" src="/static/icons/profile.png"/>
        </nav>


        <div class="page-container">
            <div class="main-page">

            </div>
            <div class="sub-page">

            </div>
        </div>
    </div>
</body>
</html>