<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Instagram clone</title>

    <link rel="shortcut icon" href="/static/icons/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="nav">
        <img class="big-icon" src="/static/icons/title.png"/>
        <input class="search-box" placeholder="검색">
        <img class="icon" src="/static/icons/home.png"/>
        <img class="icon" src="/static/icons/plane.png"/>
        <img class="icon" src="/static/icons/plus.png"/>
        <img class="icon" src="/static/icons/compass.png"/>
        <img class="icon" src="/static/icons/heart.png"/>
        <img class="icon" src="/static/icons/profile.png"/>
    </nav>
    <div class="page-container">
        <div class="main-page">
            <div class="storys-wrapper">
                <div class="my-story">
                    <div class="story"
                         style="background-image: url('https://cdn.discordapp.com/attachments/595518052796465153/970288703006199818/pipe001.png');"></div>
                    j_j__y
                </div>
                <div class="friend-story">
                    <div>
                        <div class="story"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRqWBN13MbhJTPCSB_ZgrU6eQfynP4St2V8Q&usqp=CAU');"></div>
                        A
                    </div>
                    <div>
                        <div class="story"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR515n43NIHp0lHptaXQFqcFAlIjfYs1Sh2uQ&usqp=CAU');"></div>
                        B
                    </div>
                    <div>
                        <div class="story"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLs7ppojUtgkBbQb0y74uxmDQVganO0hOuCA&usqp=CAU');"></div>
                        C
                    </div>
                    <div>
                        <div class="story"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ83wosKNgKkurDtV0abovYNLqXFr1GUyzRcA&usqp=CAU');"></div>
                        D
                    </div>
                    <div>
                        <div class="story"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7XyWk_6ZtAqeu0h7uTTL0KBzZov4Aogw9AQ&usqp=CAU');"></div>
                        E
                    </div>
                </div>
            </div>
            <div class="feed-container white-box">
                <div class="feed">
                    <div class="title">
                        <div class="avatar-wrapper">
                            <div class="avatar avatar-image"></div>
                            <p class="bold">j_j__y</p>
                        </div>
                        <a href="">
                            <img class="icon" src="/static/icons/more.png"/>
                        </a>
                    </div>
                    <div class="photo"
                         style="background-image: url('https://cdn.discordapp.com/attachments/595518052796465153/970288703006199818/pipe001.png');"></div>
                </div>
                <div class="icons">
                    <div>
                        <img class="icon" src="/static/icons/heart.png"/>
                        <img class="icon" src="/static/icons/comment.png"/>
                        <img class="icon" src="/static/icons/plane.png"/>
                    </div>
                    <div>
                        <img class="icon" src="/static/icons/save.png"/>
                    </div>
                </div>
                <div class="comments">
                    <div class="like-count">
                        <div class="small-avatar avatar-image"></div>
                        <p><span class="bold">A</span>님 외 <span class="bold">10명</span>이 좋아합니다</p>
                    </div>
                    <div><span class="bold">j_j__y</span> ㅎㅇ</div>
                    <p class="thin">1분전</p>
                    <hr>
                    <div>
                        <img class="icon" src="/static/icons/emo.png"/>
                        <textarea aria-label="댓글 달기..." data-testid="post-comment-text-area" placeholder="댓글 달기..."
                                  class="PUqUI Ypffh" autocomplete="off" autocorrect="off"
                                  style="height: 18px !important;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-page">
            <div class="account">
                <div>
                    <img width="80px" height="60px"
                         src="https://cdn.discordapp.com/attachments/595518052796465153/970288703006199818/pipe001.png">
                </div>
                <div class="id">
                    <p style="line-height: 0.5">j_j__y</p>
                    <p style="color: #909090;">전진영</p>
                </div>
                <div class="follow thin blue-text">
                    <span>전환</span>
                </div>
            </div>
            <div class="sub-page-title">
                <div class="bold gray-text">회원님을 위한 추천</div>
                <div class="bold">모두 보기</div>
            </div>
            <div class="content-wrapper">
                <div class="content">
                    <div class="avatar-wrapper">
                        <div class="avatar avatar-image"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRqWBN13MbhJTPCSB_ZgrU6eQfynP4St2V8Q&usqp=CAU');"></div>
                    </div>
                    <div class="id">
                        <p style="line-height: 0.5">A</p>
                        <p style="line-height: 0.5; color: #909090;">회원님을 위한 추천</p>
                    </div>
                    <div class="follow bold thin blue-text">
                        <span>팔로우</span>
                    </div>
                </div>
                <div class="content">
                    <div class="avatar-wrapper">
                        <div class="avatar avatar-image"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR515n43NIHp0lHptaXQFqcFAlIjfYs1Sh2uQ&usqp=CAU');"></div>
                    </div>
                    <div class="id">
                        <p style="line-height: 0.5">B</p>
                        <p style="line-height: 0.5; color: #909090;">회원님을 위한 추천</p>
                    </div>
                    <div class="follow bold thin blue-text">
                        <span>팔로우</span>
                    </div>
                </div>
                <div class="content">
                    <div class="avatar-wrapper">
                        <div class="avatar avatar-image"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLs7ppojUtgkBbQb0y74uxmDQVganO0hOuCA&usqp=CAU');"></div>
                    </div>
                    <div class="id">
                        <p style="line-height: 0.5">C</p>
                        <p style="line-height: 0.5; color: #909090;">회원님을 위한 추천</p>
                    </div>
                    <div class="follow bold thin blue-text">
                        <span>팔로우</span>
                    </div>
                </div>
                <div class="content">
                    <div class="avatar-wrapper">
                        <div class="avatar avatar-image"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ83wosKNgKkurDtV0abovYNLqXFr1GUyzRcA&usqp=CAU');"></div>
                    </div>
                    <div class="id">
                        <p style="line-height: 0.5">D</p>
                        <p style="line-height: 0.5; color: #909090;">회원님을 위한 추천</p>
                    </div>
                    <div class="follow bold thin blue-text">
                        <span>팔로우</span>
                    </div>
                </div>
                <div class="content">
                    <div class="avatar-wrapper">
                        <div class="avatar avatar-image"
                             style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7XyWk_6ZtAqeu0h7uTTL0KBzZov4Aogw9AQ&usqp=CAU');"></div>
                    </div>
                    <div class="id">
                        <p style="line-height: 0.5">E</p>
                        <p style="line-height: 0.5; color: #909090;">회원님을 위한 추천</p>
                    </div>
                    <div class="follow bold thin blue-text">
                        <span>팔로우</span>
                    </div>
                </div>
                <div class="footer">
                    <p>소개·도움말·홍보 센터·API·채용 정보·</p>
                    <p>개인정보처리방침·약관·위치·인기 계정·해시태그·</p>
                    <p>언어</p>
                    <p>© 2022 전진영</p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>